// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.review-title {
  margin-top: 3rem;
}

textarea {
  width: -webkit-fill-available;
  height: 9rem;
}

ul {
  list-style-type: none;
}
